<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="‪d:\1.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <RollingFile name="fileLogger" fileName="D:\my.log" filePattern="$D:\my-%d{yyyy-MM-dd}.log">
        <!--<RollingFile name="fileLogger" fileName="${basePath}/app-info.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">-->
            <!--(C:\Program Files\apache-tomcat-8.0.42\bin\${basePath} )   -->
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name= "com.pleshchenko.sbb.web.controller.TrainsController" level="error" additivity="true">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="File"/>
        </Logger>

        <!--Root Logger -->
        <Root level="all">
            <AppenderRef ref="fileLogger"/>
        </Root>
    </Loggers>

</Configuration>